.browserHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0));
}

.signout {
    padding: 8px 10px;
    background-color: rgb(193, 17, 25);
    color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
}

.userSection {
    display: flex;
    gap: 30px;
}

.userSection img {
    height: 44px;
    border-radius: 4px;
}