.LoginHeader:not(.LoginHeader--browse) {
    position: absolute;
    z-index: 100;
    width: 100%;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0));
}

.LoginHeader img {
    width: 200px;
    padding: 4px;
}

.LoginHeader:not(.LoginHeader--browse) img {
    margin: 10px;
}